extends ../layout/default

block scriptsView

block content
  h4= title

  //- button(type="button" class="btn btn-primary" style="margin-bottom:10px") 新規登録
  a(class='button' class="btn btn-primary" style="margin-bottom:10px" href="//" + hostname + "/systemUsers/edit") 新規登録
  
  table(class="table")
    thead(class="thead-dark")
      tr
        th メールアドレス
        th 名前
        //- th パスワード
        th(style="width:150px") 操作
    tbody
    if systemUsers
      each systemUser, key in systemUsers
        tr  
          td #{systemUser.mail}
          td #{systemUser.name}
          //- td #{systemUser.password}
          td
            button(type="button", class="btn btn-outline-secondary") 修正
            button(type="button", class="btn btn-outline-danger") 削除

  //- for (key in systemUsers){
  //-   p key;
  //- }

  //- p#pUsername #{username}
